* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* generic page styles */
body {
    background-color: #d9dcd6;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}
 
.light-grey {
    color: #d9dcd6;
}

/* header styles */
header {
    padding: 20px;
    background-color: #2a607c;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* hero styles */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* content styles */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.content img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#online-reputation-management img {
    float: right;
    margin-right: 0;
}

/* benefits styles */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefits div {
    margin-bottom: 32px;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* footer styles */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
